<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhanglubin.tms.dao.UserRoleDao">

    <insert id="insertUserRole">
        insert into t_user_role (user_id, role_id) VALUES
        (#{user_id}, #{role_id})
    </insert>
    <delete id="deleteByUserid" parameterType="int">
        delete from t_user_role
        where user_id = #{user_id}
    </delete>
</mapper>