<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="mapperFilesFolder" value="D:\workspace\JavaProject\tms\tms_service_provider\src\main\resources\com\zhanglubin\tms\mapper" />
        <option name="mapperFilesFolderList">
          <list>
            <option value="D:\workspace\JavaProject\tms\tms_service_provider\src\main\resources\com\zhanglubin\tms\mapper" />
          </list>
        </option>
      </ProjectProfile>
    </option>
  </component>
</project>